* {
    box-sizing: border-box;
    font-family: "Lucida Console", Monaco, monospace;
}

body {
    margin:0 auto;
    max-width:960px;
    overflow-x:hidden;
}

h1 {
    text-align: center;
    margin: 5px;
}

h2, .message {
    margin: 0;
    text-align:center;
}

.host-container {
    background-color: #eee;
    padding:10px 20px;
    margin-bottom: 10px;
}

.status-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.lock-indicator {
  height: 5px;
  width: 10px;
  background-color: black;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  border-radius: 0 0 5px 5px;
}

.locked-gpu > .lock-indicator {
  display: block;
}

.gpu {
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    position: relative;
    display: inline-block;
}
  .gpu div {
    position: absolute;
    width:175px;
    color: #FFFFFF;
    background: #000000;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    padding-bottom: 5px;
    line-height: normal;
  }
  .gpu div:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
  .gpu-active:hover div {
    visibility: visible;
    opacity: 0.9;
    top: 50px;
    left: 50%;
    margin-left: -87px;
    z-index: 999;
  }

  .gpu div * {
      display:flex;
      justify-content: center;
  }

.tooltip-title {
    text-decoration: underline;
    font-weight: bold;
    padding-top:5px;
}

.gpu-active {
    background-color: orange;
    cursor: help;
}

.progress-label {
    text-align: center;
    margin-bottom:0;
    margin-top: 5px;
}

progress {
    width: 100%;
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;
    vertical-align: 0;
}

progress::-webkit-progress-bar {
  background-color: #DCDCDC;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: #969696;
  border-radius: 5px 0 0 5px;
}

.progress-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.progress-container > div {
    flex: 1;
    margin: 0 20px;
}
